body{
  background-color: chocolate;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  font-size: 80px;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 151, 108);
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
}

.box-fizz{
 background-color: rgba(112, 55, 15, 0.983);
}

.box-buzz{
  background-color: rgb(255, 107, 2);
}

.box-fizzbuzz{
  background-color: rgb(255, 255, 255);
  color: chocolate;
}